#div2 {
    border: 10px solid red;
}
#div1 {
    border: 2px solid green;
}
p {
    border: 2px solid blue;
    /*margin-top: 50px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 100px;*/  /*--> margin: 50px 60px 60px 100px */
    margin: auto;
    width: 400px;
}