/*----------  Styles Généraux ----------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
}
h1 {
    font-size: 40px;
    line-height: 64px;
    color: #3d3f3f;
}
h2 {
    font-size: 30px;
    line-height: 54px;
    color: #3d3f3f;
}
h3 {
    font-size: 24px;
    line-height: 40px;
    color: #3d3f3f;
}
h4 {
    font-size: 20px;
    color: #3d3f3f;
}
p {
    font-size: 15px;
    color: #465b52;
    margin: 15px 0 20px 0;
    line-height: 30px;
}


/*---------- Barre de naviguation -----------*/
.logo {
    max-width: 100px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #182c64;
    padding: 20px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-menu li {
    list-style: none;
    padding: 0 10px;
}
#top-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
#top-menu li::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: skyblue;
    display: block;
    margin-left: 0;
    transition: .4s;
}
#top-menu li:hover::after {
    width: 50%;
}

/*---------- Image header, titres et bouton ----------*/
.header {
    background-image: url("../images/header.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header h1 {
    color: #fff;
    padding-bottom: 15px;
}
.header h3 {
    color: #fff;
    padding-bottom: 15px;
}
.btn {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid white;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    margin: 30px 0;
}
.btn:hover {
    border: 1px solid #fe725f;
    background-color: #fe725f;
    transition: .5s;
}

/*---------- Formations ----------*/
.formations {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.formations .row {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}
.formations-col {
    flex-basis: 30%;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: .4s;
    position: relative;
}
.formations-col img {
    width: 100%;
    max-height: 150px;
    border-radius: 10px;
}
.formations-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #182c64;
}
.formations-col p {
    padding: 10px 20px;
}
.formations-col:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.formations-col .btn-formation {
    display: inline-block;
    text-decoration: none;
    color: #182c64;
    border: 1px solid #182c64;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 10px 0 20px 0;
    transition: .4s;
    font-weight: 600;
}
.formations-col .btn-formation:hover {
    border: 1px #182c64;
    color: #fff;
    background-color: #182c64;
}
.formations-col .prix {
    background-color: #f98305;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-weight: 650;
    font-size: 13px;
    position: absolute;
    right: 12px;
    top: 125px;
}
.formations-col .star-formation {
    text-align: left;
    margin-left: 20px;
    color: #f98305;
    margin-bottom: 10px;
}

/*---------- A propos ----------*/
.about {
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 52, 112, 0.9), rgba(4, 52, 112, 0.9)), url(../images/about.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 50px 0 0;
}
.about div {
    width: 60%;
}
.about h1 {
    padding-bottom: 10px;
    color: #fff;
}
.about h3 {
    padding-bottom: 10px;
    color: #fff;
}
.about p {
    padding-bottom: 10px;
    color: #fff;
}

/*---------- Nos services ----------*/
.container-services {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #e5eaec;
    padding-top: 80px;
}
#nos-services {
    width: 70%;
    margin: auto;
}
.row-services {
    display: flex;
    justify-content: space-between;
}
.nos-services-col {
    display: flex;
    background-color: #fff;
    margin-bottom: 5%;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    flex-basis: 45%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.nos-services-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 24px;
}

/*---------- Devenir formateur ----------*/
.formateur {
    background-image: linear-gradient(rgba(4, 41, 117, 0.6), rgba(4, 41, 117, 0.6)), url(../images/banner.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-bloc {
    width: 70%;
    text-align: center;
}
.text-bloc h1 {
    color: #fff;
    font-size: 60px;
}
.text-bloc p {
    color: #fff;
    font-size: 16px;
}
.text-bloc .btn-formateur {
    background-color: #f98305;
    font-size: 16px;
    padding: 12px 34px;
    font-weight: 600;
    height: 3.5em;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
}
.text-bloc .btn-formateur:hover {
    border: 1px solid #09c7fa;
    background-color: #09c7fa;
    color: #fff;
    transition: .6s;
}

/*---------- Avis utilisateurs ----------*/
.container-avis {
    width: 70%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
}
.container-avis h1 {
    margin-bottom: 50px;
}
.row-avis {
    display: flex;
    justify-content: space-between;
}
.col-avis {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-bottom: 8%;
    border-radius: 10px;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.col-avis img {
    height: 40px;
    width: 40px;
    margin: auto;
}
.star-avis {
    margin-top: 20px;
    color: #f98305;
}

/*---------- Newsletter ----------*/
#newsletter {
    background-color: #1b2148;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 120px;
}
#newsletter .text h3 {
    font-size: 32px;
    color: #09c7fa;
}
#newsletter .text p {
    font-size: 18px;
    color: #fff;
}
#newsletter .form-newsletter {
    display: flex;
    width: 36%;
}
#newsletter .form-newsletter input {
    height: 3.5em;
    padding: 0 1.4em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter .form-newsletter .input-btn {
    background-color: #09c7fa;
    height: 3.5em;
    padding: 0 1.4em;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
#newsletter .form-newsletter .input-btn:hover {
    background-color: #fe725f;
    transition: .6s;
}

/*---------- Formulaire de contact ----------*/
.contact-form {
    width: 100%;
    margin: auto;
    background-image: url('../images/datascience.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contact-form .form {
    width: 50%;
    background-color: #f0f1f3;
    margin: 70px auto;
    padding: 50px;
    border-radius: 10px;
}
.contact-form .form h4 {
    color: #4a4948;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 30px;
}
.contact-form .form p {
    color: #4a4948;
    font-size: 15px;
    padding-bottom: 10px;
}
.contact-form .form .row-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contact-form .form .row-form input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #4a4948;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
}
.contact-form .form .row-col-form input,
.contact-form .form .row-form textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #4a4948;
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
}
.contact-form .form .row-col-form textarea {
    width: 100%;
    font-size: 14px;
    padding: 15px 20px;
    color: #4a4948;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}
.contact-form .form .row-col-form button {
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    background-color: #1b2148;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}
.contact-form .form .row-col-form button:hover {
    background-color: #1f7df5;
    transition: .6s;
}